.text-container {
    overflow-y: auto; 
    padding: 10px;
    max-height: 20rem;
    line-height: 1.5;
    text-align: justify;
    scrollbar-width: thin;
    scrollbar-color:rgba(92, 85, 72, 0.474) var(--background-color); 
}

.text-container::-webkit-scrollbar {
    width: 8px;
    background-color: #452E2B;
}

.text-container::-webkit-scrollbar-track {
    background: var(--hover-text-color);
    border-radius: 20px;
}

.text-container::-webkit-scrollbar-thumb {
    background-color: #F7C42C;
    border-radius: 10px;
    border: 2px solid var(--hover-text-color);
}