/* Small devices (portrait tablets and large phones, 600px and up) */
/*Scrollbar*/
@import url("./scrollbar.css");
@media only screen and (min-width: 600px) {
    body {
        display: grid;
        grid: 
            "first" 35vw
            "second" 60px
            "third" auto
            "forth" 15vw
            / 1fr
        ;
    }

    /* Header */

    header {
        grid-area: first;
        font-size: 1.2rem;  
    }

    /* Navigation */

    nav {
        grid-area: second;
    }

    /* Main */
    main {
        grid-area: third;
        display: grid;
        grid: 
            "fst-sect" auto
            "scnd-sect" auto
            "third-sect" auto
            / 100%
        ;
    }

    h2 {
        font-size: 24px;
    }

    /* Main/First-section */

    .first-section {
        grid-area: fst-sect;
        gap: 40px;
        margin-bottom: 40px;
    }

    /*Kártyák*/

    .flex-item {
        width: 25em;
        height: 35em;
        display: grid;
        grid-template-rows: 1fr 1fr;
    }

    /* Main/Second-section */
    .second-section {
        grid-area: scnd-sect;
        padding-bottom: 40px;
    }

    /* Main/Third-section */
    .third-section {
        grid-area: third-sect;
        margin-bottom: 40px;
    }

    /* Footer */

    footer {
        grid-area: forth;
    }

    footer > h2 {
        padding-left: 20px;
    }
}