/* Large devices (laptops/desktops, 992px and up) */
/*Scrollbar*/
@import url("./scrollbar.css");
@media only screen and (min-width: 992px) {
    body {
        display: grid;
        grid: 
            "first" 35vw
            "second" auto
            "third" 15vw 
            / 1fr
        ;
    }

    /* Header */

    header {
        grid-area: first;
        font-size: 2rem;  
    }

    /* Navigation */

    .hamburger {
        display: none;
    }

    .toggle-btn {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: end;
    }

    nav a {
        font-size: 20px;
        padding: 20px;
    }

    .navbar {
        display: flex;
    }

    .main-menu {
        display: flex;
        list-style: none;
        gap: 20px;
        justify-content: space-around;
        align-items: center;
    }

    .main-menu > li {
        position: relative;
    }

    .main-menu li a {
        text-decoration: none;
        color: var(--text-color);
        font-size: 20px;
        padding: 10px;
        display: block;
    }

    .main-menu > li:hover > a {
        color: var(--hover-text-color);
    }

    .main-menu li:focus-within > .sub-menu,
    .main-menu li:hover > .sub-menu {
        display: initial;
    }

    nav a {
        text-decoration: none;
        color: var(--text-color);
        display: block;
        padding: 20px;
        font-size: 20px;
    }

    .sub-menu {
        display: none;
        position: absolute;
        z-index: 1000;
        top: 51px;
        left: 0;
        background-color: var(--background-color);
        border-radius: 14px;
        box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.2);
        list-style: none;
        padding: 0;
        min-width: 200px;
    }

    .sub-menu > li {
        width: 100%;
        padding: 10px;
    }

    .sub-menu a {
        text-decoration: none;
        color: var(--text-color);
    }

    .sub-menu >li:hover > a {
        color: var(--hover-text-color);
    }

    /* Main */
    main {
        grid-area: second;
        display: grid;
        grid: 
            "fst-sect" auto
            "scnd-sect" auto
            "third-sect" auto
            / 100%
        ;
    }

    h2 {
        font-size: 28px;
    }

    /* Main/First-section */   

    .first-section {
        grid-area: fst-sect;
    }

    .first-section .flex-container {
        gap: 40px;
    }

    /*Kártyák*/

    .flex-item {
        width: 25em;
        height: 35em;
    }

    .flex-item:hover {
        transform: scale(1.02);
        transition: all 0.3s ease-in-out;
    }

    /* Main/Second-section */
    .second-section {
        grid-area: scnd-sect;
    }

    /* Main/Third-section */
    .third-section {
        grid-area: third-sect;
        margin-bottom: 40px;
    }

    /* Footer */

    footer {
        grid-area: third;
    }
}
